#t1 {
       margin:auto;
       width:900px;
       margin-bottom:50px;
       position:relative;
}
#tr1 {
       line-height:50px;
}
#tr2 {
       line-height:50px;
}
#td2 {
       width:200px;
}
#td3 {
       width:180px;
}
#td4 {
       width:250px;
}
#td5 {
       width:40px;
}
#code {
       width:100px;
}
#name {
       width:80px;
}

#date {
       position:absolute;
       background:#e0ffff;
}

